body {
    color:white;
    font-family: 'Exo 2', sans-serif;
}
a {
    color:#32E875;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top:1px;
    padding-bottom:1px;
}
.mainbody {
    background-color: #23272A;
}
.iabCommandSyntax {
    color:white;
    margin-top:0.5em;
    font-weight:bold;
    font-family: 'Courier New';
}