body {
    font-family: 'Exo 2', sans-serif;
}
p {
    margin-top: 4px;
    margin-bottom: 4px;
}
.mainbody {
    background-color: #93A5FF;
}
.iabCommandSyntax {
    margin-top:0.5em;
    font-weight:bold;
    font-family: 'Courier New';
}